<div class="inner-container">
  <%= render :partial => 'shared/welcome_message' %>

  <div class="club-avatar-name-description row-fluid">
    <div class="club-avatar span4">
      <%= image_tag "#{club.logo}" %>

      <%- if can? :update, club %>
        <a href="<%= change_logo_for_club_path(@club) %>" data-remote="true" class="btn btn-primary upload-logo-button">Change Logo</a>
      <%- end %>
    </div>

    <div class="club-name-description span8">
      <div class="club-name">
        <%= best_in_place_if can?(:update, club), club, :name, :type => :input, :html_attrs => { :rows => '1' } %>
      </div>

      <div class="club-description">
        <%= best_in_place_if can?(:update, club), club, :description, :type => :textarea, :html_attrs => { :rows => '10' } %>
      </div>
    </div>
  </div>

  <div class="club-courses row-fluid">
    <div class="course-listing-heading">
      <h2>Courses <span class="courses-count header-count">(<%= club.courses.count %>)</span></h2>

      <%- if can? :update, club %>
        <div class="add-club-course">
          <a href="<%= club_courses_path(club) %>" data-method="post" class="add-club-course-link">Add Course</a>
        </div>
      <%- end %>
    </div>

    <div class="club-course-listing span12">
      <%- if club.courses.blank? %>
        <h2>No Courses Yet
          <%- if can? :update, club %>
            - Go Ahead and <a href="<%= club_courses_path(club) %>" data-method="post" class="create-first-course-link">Create your First!</a>
          <%- end %>
        </h2>
      <%- else %>
        <div class="courses-listing">
          <%= render :partial => 'courses/list', :locals => { :courses => club.courses.sort_by(&:updated_at).reverse[0..2] } %>
        </div>
      <%- end %>
    </div>
  </div>

  <div class="club-blogs-discussions row-fluid">
    <div class="club-blogs span6">
      <div class="blog-listing-heading">
        <h2>Blog <span class="blogs-count header-count">(<%= club.blogs.count %>)</span></h2>

        <%- if can? :update, club %>
          <div class="add-club-blog">
            <a href="<%= club_blogs_path(club) %>" data-method="post" class="add-club-blog-link">Add Blog</a>
          </div>
        <%- end %>
      </div>

      <div class="club-blog-listing">
        <%- if club.blogs.blank? %>
          <h2>No Blog Posts Yet
            <%- if can? :update, club %>
              - <a href="<%= club_blogs_path(club) %>" data-method="post" class="create-first-blog-link">Create your First!</a>
            <%- end %>
          </h2>
        <%- else %>
          <div class="blog-most-recent">
            <%- club.blogs.sort_by(&:created_at).last.tap do |blog| %>
              <div class="blog-title-date">
                <span class="blog-title"><%= link_to blog.title, edit_blog_path(blog) %></span>
                <span class="blog-date"><%= I18n.l blog.created_at, :format => :default %></span>
              </div>

              <div class="blog-info">
                <div class="blog-image">
                  <a class="blog-image-link" href="<%= edit_blog_path(blog) %>">
                    <%= image_tag "#{blog.image}", :class => 'blog-image' %>
                  </a>
                </div>

                <div class="blog-content">
                  <%= blog.content %>
                </div>
              </div>
            <%- end %>
          </div>
        <%- end %>
      </div>
    </div>

    <div class="club-discussions span6">
    </div>
  </div>
</div>
