<div class="inner-container">
  <div class="club-welcome-container row-fluid">
    <div class="club-welcome span12">
      <span class="club-welcome-text">Welcome, <%= current_user.name %>!</span>
    </div>
  </div>

  <div class="club-avatar-name-description row-fluid">
    <div class="club-avatar span4">
      <%= image_tag "#{@club.logo}" %>
    </div>

    <div class="club-name-description span8">
      <div class="club-name">
        <%= best_in_place_if can?(:update, @club), @club, :name, :type => :input, :html_attrs => { :rows => '1' } %>
      </div>

      <div class="club-description">
        <%= best_in_place_if can?(:update, @club), @club, :description, :type => :textarea, :html_attrs => { :rows => '10' } %>
      </div>
    </div>
  </div>

  <div class="club-courses row-fluid">
    <div class="course-listing-heading">
      <h2>Courses</h2>

      <%- if can? :update, @club %>
        <div class="add-club-course">
          <a href="#" class="add-club-course-link">Add Course</a>
        </div>
      <%- end %>
    </div>

    <div class="club-course-listing span12">
      <%- if @club.courses.blank? %>
        <h2>No Courses Yet<%= raw(' - Go Ahead and <a href="#" class="create-first-course-link">Create your First!</a>') if can?(:update, @club) %></h2>
      <%- else %>
        <div class="courses-listing">
          <%- @club.courses.each_with_index do |course, i| %>
            <div class="course <%= 'course-first' if i == 0 %>">
              <div class="course-logo"><%= image_tag course.logo_url.to_s, :class => 'course-logo' %></div>
            <div class="course-title"><%= link_to course.title, club_course_path(@club, course) %></div>
          </div>
        <%- end %>
      <%- end %>
    </div>
  </div>
</div>
