<%= render :partial => 'shared/welcome_navigation', :locals => { :club => @club } %>

<div class="club-logo-name-description row-fluid">
  <div class="club-logo span4">
    <img id="club_logo" data-mercury="image" src="<%= @club.logo %>">
  </div>

  <div class="club-name-description span8">
    <div id="club_name"        class="club-name"        data-mercury="simple"><%= @club.name %></div>
    <div id="club_sub_heading" class="club-sub-heading" data-mercury="simple"><%= @club.sub_heading %></div>
    <div id="club_description" class="club-description" data-mercury="simple"><%= @club.description %></div>
  </div>
</div>

<div class="club-courses row-fluid">
  <div class="course-listing-heading">
    <h2>
      <a href="<%= show_all_club_courses_path(@club) %>" class="hover-heading">Courses <span class="courses-count header-count">(<%= @club.courses.count %>)</span></a>
    </h2>

    <%- if can? :update, @club %>
      <div class="add-club-course">
        <a href="<%= club_courses_path(@club) %>" data-method="post" class="add-club-course-link">Add Course</a>
      </div>
    <%- end %>
  </div>

  <div class="club-course-listing span12">
    <%- if @club.courses.blank? %>
      <h2>No Courses Yet
        <%- if can? :update, @club %>
          - Go Ahead and <a href="<%= club_courses_path(@club) %>" data-method="post" class="create-first-course-link">Create your First!</a>
        <%- end %>
      </h2>
    <%- else %>
      <div class="courses-listing">
        <%= render :partial => 'courses/list', :locals => { :courses => @club.courses[0..2] } %>
      </div>
    <%- end %>
  </div>
</div>

<div class="club-articles-discussions row-fluid">
  <div class="club-articles span6">
    <div class="article-listing-heading">
      <h2>
        <a href="<%= show_all_club_articles_path(@club) %>" class="hover-heading">Articles <span class="articles-count header-count">(<%= @club.articles.count %>)</span></a>
      </h2>

      <%- if can? :update, @club %>
        <div class="add-club-article">
          <a href="<%= club_articles_path(@club) %>" data-method="post" class="add-club-article-link">Add Post</a>
        </div>
      <%- end %>
    </div>

    <div class="club-article-listing">
      <%- if @club.articles.blank? %>
        <h2>No Article Posts Yet
          <%- if can? :update, @club %>
            - <a href="<%= club_articles_path(@club) %>" data-method="post" class="create-first-article-link">Create your First!</a>
          <%- end %>
        </h2>
      <%- else %>
        <div class="article-most-recent">
          <%- @club.articles.last.tap do |article| %>
            <div class="article-title-date">
              <span class="article-title">
                <%- if can?(:update, @club) %>
                  <%= link_to trim_length(article.title, 65), article_editor_path(article) %>
                <%- elsif can?(:read, article) %>
                  <%= link_to trim_length(article.title, 65), article_path(article) %>
                <%- else %>
                  <%= link_to trim_length(article.title, 65), subscribe_to_club_path(article.club) %>
                <%- end %>
              </span>
              <span class="article-date"><%= I18n.l article.created_at, :format => :default %></span>
            </div>

            <div class="article-info">
              <div class="article-image">
                <a class="article-image-link" href="<%= can?(:update, @club) ? article_editor_path(article) : article_path(article) %>">
                  <%= image_tag "#{article.image}", :class => 'article-image' %>
                </a>
              </div>

              <div class="article-content">
                <%= raw(trim_length article.content, 275) %>
              </div>
            </div>
          <%- end %>
        </div>
      <%- end %>
    </div>
  </div>

  <div class="club-discussion-board span6">
    <div class="discussion-board-listing-heading">
      <h2>
        <a href="<%= can?(:update, @club) ? discussion_board_editor_path(@club.discussion_board) : discussion_board_path(@club.discussion_board) %>" class="hover-heading">
          Discussions <span class="discussion-board-count header-count">(<%= @club.topics.count %>)</span>
        </a>
      </h2>
    </div>

    <div class="club-discussion-board-listing">
      <%- if @club.discussion_board.topics.blank? %>
        <h2>No Topics Yet
          <%- if can? :update, @club %>
            - <a href="<%= discussion_board_editor_path(@club.discussion_board) %>" class="create-first-topic-link">Create the First!</a>
          <%- end %>
        </h2>
      <%- else %>
        <div class="topic-most-recents">
          <%- @club.discussion_board.topics.sort_by(&:updated_at).reverse[0..2].each do |topic| %>
            <div class="topic-recent">
              <div class="topic-subject-date">
                <div class="topic-subject">
                  <%= link_to trim_length(topic.subject, 50), topic %>
                </div>

                <div class="topic-date">
                  <%= I18n.l topic.updated_at, :format => :default %>
                </div>
              </div>

              <div class="topic-description">
                <%= trim_length topic.description, 120 %>
              </div>
            </div>
          <%- end %>
        </div>
      <%- end %>
    </div>
  </div>
</div>
