<div class="club-price-specify">
  <h4>Please Specify a New Club Price:</h4>

  <%= form_tag update_price_for_club_path(club), :method => :put,
                                                 :remote => true,
                                                 :class => 'club-price form-horizontal' do |f| %>

    <div class="club-price-current">
      (
      <div class="club-price-heading">Your current club price:</div>
      <div class="club-price-currency"><%= currency_symbol -%></div>
      <div class="club-price"><%= @club.price %></div>
      )
    </div>

    <div class="club-price-errors">
      <%= flash[:error] unless flash[:error].blank? %>
    </div>

    <div class="club-price-input-currency"><%= currency_symbol -%></div>
    <%= text_field_tag :club_price %>
    <%= submit_tag "Update", :class => "btn btn-primary submit-club-price" %>

    <div class="club-price-note">
      <div class="club-price-heading">
        WARNING:
      </div>

      <div class="club-price-content">
        <span class="club-price-warning">Changing your club price AFTER your club has gone live will force/require all of your current subscribers to re-authorize preapproval payments through PayPal before they are able to re-gain access to your premium content.</span>
      </div>
    </div>
  <%- end %>

  <%= render :partial => "shared/powered_by" %>
</div>
