<div class="devise-form">
  <div class="account-heading">Account Settings</div>

  <div class="account-password-status row-fluid">
    <div class="account-password span6">
      <div class="account-password-heading">
        <h2>Password</h2>
      </div>

      <div class="account-password-text">
        <%= simple_form_for(resource, :as   => resource_name,
                                      :url  => registration_path(resource_name),
                                      :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :password,              :required => false, :hint         => 'Leave blank to not change', :autocomplete => 'off' %>
          <%= f.input :password_confirmation, :required => false, :autocomplete => 'off' %>
          <%= f.input :current_password,      :required => true,  :hint         => 'To confirm changes' %>

          <%= f.submit 'Update', :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>

    <div class="account-status span6">
      <div class="account-status-heading">
        <h2>Club Status</h2>
      </div>

      <div class="account-status-text">
        <div class="account-status-linked">
          <%= render :partial => 'users/club_live_status' %>
        </div>

        <div class="account-status-paypal">
          <%= render :partial => "devise/registrations/verified_status" %>
        </div>

        <div class="account-status-paid-only">
          <div class="paid-only-heading">
            Free Content
          </div>

          <div class="paid-only-link">
            <span class="paid-only-sub-heading">
              Allow Free (Basic) Memberships to Your Club?
            </span>

            <%= best_in_place @user.clubs.first, :free_content, :type       => :checkbox,
                                                                :path       => update_free_content_club_path(@user.clubs.first),
                                                                :collection => [ raw("<i class='icon-check-empty'></i>"),
                                                                                 raw("<i class='icon-check'></i>") ],
                                                                :html_attrs => { :rows => '1' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="account-cancel">
    Unhappy? <%= link_to 'Cancel Your Account', registration_path(resource_name), :data => { :confirm => 'Are you sure?' }, :method => :delete %>
  </div>
</div>
