<div class="article-information">
  <%= render :partial => 'shared/welcome_navigation', :locals => { :club => @club } %>

  <div class="article-controls">
    <%- if can? :update, @club %>
      <div class="add-article-post">
        <a href="<%= club_articles_path(@club) %>" data-method="post" class="add-article-post-link">Add Article</a>
      </div>
    <%- end %>
  </div>

  <div class="article-posts row-fluid">
    <%- if @articles.blank? %>
      <h2 class="no-articles-text">No Articles Yet
        <%- if can? :update, @club %>
          - <a href="<%= club_articles_path(@club) %>" data-method="post" class="create-first-article-link">Create your First!</a>
        <%- end %>
      </h2>
    <%- else %>
      <%- @articles.reverse.each_with_index do |article, i| %>
        <%- unless i == 0 %>
          <hr/>
        <%- end %>

        <div class="article-post">
          <div class="article-logo">
            <a class="article-image-link" href="<%= can?(:update, @club) ? article_editor_path(article) : article_path(article) %>">
              <%= image_tag "#{article.image}", :class => 'article-image' %>
            </a>
          </div>

          <div class="article-title-created-content">
            <div class="article-title">
              <%- if article.pro? %>
                <span class="article-is-pro">Pro</span>
              <%- end %>

              <%- if can?(:update, article) %>
                <%= link_to truncate_html(article.title, :length => 65), article_editor_path(article) %>
              <%- elsif can?(:read, article) %>
                <%= link_to truncate_html(article.title, :length => 65), article_path(article) %>
              <%- else %>
                <%= link_to truncate_html(article.title, :length => 65), subscribe_to_club_path(@club) %>
              <%- end %>
            </div>

            <div class="article-created">
              <%= I18n.l article.created_at %>
            </div>

            <div class="article-content">
              <%= truncate_html(raw(article.content), :length => 315) %>
            </div>

            <%- if can? :destroy, article %>
              <div class="destroy-article">
                Delete this article?
                <%= link_to "Click Here", article_path(article),
                            :confirm => "Are you sure you wish to delete '#{article.title}'?",
                            :method  => :delete %>
              </div>
            <%- end %>
          </div>
        </div>
      <%- end %>
    <%- end %>
  </div>

  <%- unless @articles.blank? %>
    <div class="article-controls">
      <%- if can? :update, @club %>
        <div class="add-article-post">
          <a href="<%= club_articles_path(@club) %>" data-method="post" class="add-article-post-link">Add Article</a>
        </div>
      <%- end %>
    </div>
  <%- end %>
</div>
