<div class="topic-listing">
  <div class="topic-listing-headings">
    <div class="topic-main-heading">
      <h2>Topics</h2>

      <div class="add-discussion-board-topic">
        <%- if can? :create, discussion_board.topics.build %>
          <a href="<%= new_discussion_board_topic_path(discussion_board) %>" class="add-discussion-board-topic-link">Add Topic</a>
        <%- else %>
          <a href="<%= subscribe_to_club_path(discussion_board.club) %>" data-remote="true" class="add-discussion-board-topic-link">Add Topic</a>
        <%- end %>
      </div>
    </div>

    <div class="topic-sub-headings">
      <div class="subject-started-by subject-started-by-heading">Subject/Posted By</div>
      <div class="posts posts-heading">Posts</div>
      <div class="latest-post latest-post-heading">Last Post</div>
    </div>
  </div>

  <ul class="topic-listing-entries">
    <%- discussion_board.topics.select{ |topic| !topic.new_record? }.sort_by(&:updated_at).reverse.each_with_index do |topic, i| %>
      <li class="<%= "first-topic" if i == 0 %>">
        <div class="subject-started-by">
          <div class="subject">
            <%= link_to trim_length(topic.subject, 60), topic %>
          </div>

          <div class="started-by">
            Created by <%= topic.poster.name %> at <%= I18n.l topic.created_at %>
          </div>
        </div>

        <div class="posts">
          Posts: <%= topic.posts.count %>
        </div>

        <div class="latest-post">
          <%- unless topic.posts.blank? %>
            <div class="latest-post-time">
              <%= I18n.l topic.last_updated_time %>
            </div>

            <div class="latest-post-poster">
              by: <%= topic.posts.first.poster.name %>
            </div>
          <%- end %>
        </div>
      </li>
    <%- end %>
  </ul>
</div>
