<div class="new-topic-information">
  <%= render :partial => 'shared/welcome_navigation', :locals => { :club => @discussion_board.club } %>

  <div class="new-topic">
    <div class="new-topic-heading">
      Create New Topic
    </div>

    <%= simple_form_for [ @discussion_board, @topic], :validate => true, :html => { :method => :post, :class => "create-topic form-horizontal" } do |f| %>
      <%= f.input :subject,     :required => true, :autofocus => true %>
      <%= f.input :description, :required => true, :as => :text, :input_html => { :rows => "10" } %>

      <%= f.button :submit, "Create Topic", :class => "btn btn-primary create-topic-button" %>
      <a href="<%= can?(:update, @discussion_board.club) ? discussion_board_editor_path(@discussion_board) : discussion_board_path(@discussion_board) %>" class="btn btn-primary cancel-topic-create">Cancel</a>
    <%- end %>
  </div>
</div>
