<div class="topic-information">
  <%= render :partial => 'shared/welcome_navigation', :locals => { :club => @topic.club } %>

  <h1 class="topic-subject">
    <%= @topic.subject %>
  </h1>

  <p class="topic-description">
    <%= @topic.description %>
  </p>

  <div class="topic-controls">
    <%- if can?(:create, @topic.posts.build) %>
      <div class="add-topic-post">
        <a href="<%= new_topic_post_path(@topic) %>" data-remote="true" class="btn add-topic-post-link">Post</a>
      </div>
    <%- end %>
  </div>

  <div class="topic-posts row-fluid">
    <%= render :partial => "posts/list", :locals => { :topic => @topic } %>
  </div>

  <%- unless @topic.posts.blank? %>
    <div class="topic-controls">
      <%- if can?(:create, @topic.posts.build) %>
        <div class="add-topic-post">
          <a href="<%= new_topic_post_path(@topic) %>" data-remote="true" class="btn add-topic-post-link">Post</a>
        </div>
      <%- end %>
    </div>
  <%- end %>
</div>
