<div class="topic-information">
  <%= render :partial => 'shared/welcome_navigation', :locals => { :club => @topic.club } %>

  <h1 class="topic-subject">
    <%= @topic.subject %>
  </h1>

  <p class="topic-description">
    <%= @topic.description %>
  </p>

  <div class="topic-controls">
    <div class="add-topic-post">
      <a href="<%= can?(:update, @topic.club) ? discussion_board_editor_path(@topic.discussion_board) : discussion_board_path(@topic.discussion_board) %>"
         class="navigate-back-discussions-link">
        Back
      </a>

      <%- if can?(:create, @topic.posts.build) %>
        <a href="<%= new_topic_post_path(@topic) %>" data-remote="true" class="add-topic-post-link">Reply</a>
      <%- else %>
        <a href="<%= subscribe_to_club_path(@topic.club) %>" class="add-topic-post-link">Reply</a>
      <%- end %>
    </div>
  </div>

  <div class="topic-posts row-fluid">
    <%= render :partial => "posts/list", :locals => { :topic => @topic } %>
  </div>

  <div class="topic-controls">
    <div class="add-topic-post">
      <a href="<%= can?(:update, @topic.club) ? discussion_board_editor_path(@topic.discussion_board) : discussion_board_path(@topic.discussion_board) %>"
         class="navigate-back-discussions-link">
        Back
      </a>

      <%- if can?(:create, @topic.posts.build) %>
        <a href="<%= new_topic_post_path(@topic) %>" data-remote="true" class="add-topic-post-link">Reply</a>
      <%- else %>
        <a href="<%= subscribe_to_club_path(@topic.club) %>" class="add-topic-post-link">Reply</a>
      <%- end %>
    </div>
  </div>
</div>
