<%= render :partial => 'shared/welcome_navigation', :locals => { :club => @club } %>

<div class="admin-information">
  <div class="admin-heading">
    <h2>Club Admin</h2>
  </div>

  <div class="admin-text">
    Hey there club owner! You are looking good! The admin area can only be seen by you. This is where we stash all the info you need to manage your club. If you have any questions or need help email <a href="mailto:support@IfSimply.com">support@IfSimply.com</a>.
  </div>

  <div class="club-admin-status-settings row-fluid">
    <div class="club-admin-status span6">
      <div class="club-admin-status-heading">
        <h2>Status</h2>
      </div>

      <div class="club-admin-status-text">
        <%= render :partial => 'admin/club_live_status' %>
      </div>
    </div>

    <div class="club-admin-settings span6">
      <div class="club-admin-settings-heading">
        <h2>Settings</h2>
      </div>

      <div class="club-admin-settings-text">
        <div class="club-price-container">
          <%= render :partial => 'admin/club_price', :locals => { :club => @club } %>
        </div>

        <div class="club-price-supplemental">
          <div class="note-supplemental">Note:</div>
          <div class="note-supplemental-text">You keep <%= "%i" % (Settings.paypal[:club_owner_share] * 100) %>% of all revenue, please <%= link_to "price", specify_price_for_club_path(@club), :remote => true %> your club appropriately (min <%= number_to_currency(Settings.clubs[:min_price_cents] / 100, :precision => 0) %>).</div>
        </div>
      </div>
    </div>
  </div>

  <div class="club-promote row-fluid">
    <div class="club-promote span6">
      <div class="club-promote-heading">
        <h2>Promotion</h2>
      </div>

      <div class="club-promote-text">
        <%= render :partial => 'admin/club_promote', :locals => { :club => @club } %>
      </div>
    </div>
  </div>
</div>
