<%= render :partial => 'shared/welcome_navigation', :locals => { :club => @club } %>

<div class="admin-information">
  <div class="admin-heading">
    <h2>Club Admin</h2>
  </div>

  <div class="admin-text">
    Hey there club owner! You are looking good! The admin area can only be seen by you. This is where we stash all the info you need to manage your club. If you have any questions or need help email <a href="mailto:support@IfSimply.com">support@IfSimply.com</a>.
  </div>

  <div class="club-admin-status-settings row-fluid">
    <div class="club-admin-status span6">
      <div class="club-admin-status-heading">
        <h2>Club Status</h2>
      </div>

      <div class="club-admin-status-text">
        <%= render :partial => 'admin/club_live_status' %>
      </div>
    </div>

    <div class="club-admin-settings span6">
      <div class="club-admin-settings-heading">
        <h2>Club Settings</h2>
      </div>

      <div class="club-admin-settings-text">
        <div class="club-price-container">
          <div class="club-price-heading">Club Monthly Price:</div>
          <div class="club-price-currency"><%= currency_symbol -%></div>
          <div id="club_price" class="club-price" data-mercury="simple"><%= @club.price %></div>
        </div>

        <div class="club-price-supplemental">
          <div class="note-supplemental">Note:</div>
          <div class="note-supplemental-text">You keep <%= "%i" % (Settings.paypal[:club_owner_share] * 100) %>% of all revenue, please price your club appropriately (min <%= number_to_currency(Settings.clubs[:min_price_cents] / 100, :precision => 0) %>)</div>
        </div>
      </div>
    </div>
  </div>
</div>
