<div class="user-information">
  <div class="user-icon-name-description row-fluid">
    <div class="user-icon span3">
      <img id="user_icon" data-mercury="image" src="<%= @user.icon %>">
    </div>

    <div class="user-name-description span9">
      <div class="user-name"><%= @user.name %></div>

      <div id="user_description" class="user-description" data-mercury="simple"><%= @user.description %></div>
    </div>
  </div>

  <div class="user-clubs-listing">
    <div class="owned-clubs row-fluid">
      <div class="clubs-label span3">
        <%- if user_signed_in? and @user == current_user %>
          Your Club:
        <%- else %>
          User's Club:
        <%- end %>
      </div>

      <div class="clubs-listing span9">
        <div class="subscription-name first">
          <%= link_to "#{@user.clubs.first.name} #{@user.clubs.first.sub_heading}", @user.clubs.first %>
        </div>
      </div>
    </div>

    <div class="subscribed-clubs row-fluid">
      <div class="clubs-label span3">
        Memberships:
      </div>

      <div class="clubs-listing span9">
        <%- if @user.subscriptions.blank? %>
          None
        <%- else %>
          <%- @user.subscriptions.each_with_index do |subscription, i| %>
            <div class="subscription-name <%= "first" if i == 0 %>">
              <%= link_to "#{"(#{subscription.level.titleize})" if (user_signed_in? and @user == current_user)} #{subscription.club.name} #{subscription.club.sub_heading}", subscription.club %>
            </div>
          <%- end %>
        <%- end %>
      </div>
    </div>
  </div>
</div>
