<div class="user-information">
  <div class="user-icon-name-description row-fluid">
    <div class="user-icon span3">
      <img id="user_icon" data-mercury="image" src="<%= @user.icon %>">
    </div>

    <div class="user-name-description span9">
      <div class="user-name"><%= @user.name %></div>

      <hr class="blue-divider" />

      <div id="user_description" class="user-description" data-mercury="simple"><%= @user.description %></div>
    </div>
  </div>

  <div class="user-clubs-listing">
    <div class="owned-clubs row-fluid">
      <div class="blank-spacer span3"></div>

      <div class="clubs-listing span9">
        <div class="user-club-label">
          <%- if user_signed_in? and @user == current_user %>
            My Club
          <%- else %>
            User's Club
          <%- end %>
        </div>

        <div class="subscription-name first">
          <%- if user_signed_in? and @user == current_user %>
            <%= link_to "#{@user.clubs.first.name} #{@user.clubs.first.sub_heading}", club_editor_path(@user.clubs.first) %>

            <%- unless @user.subscriptions.map(&:club_id).include?(1) %>
              <span class="ifsimply-club-question">
                Want some help creating your own club? Want to know how to build and grow it fast?
              </span>
              <span class="ifsimply-club-visit">
                Visit the official IfSimply.com "<%= link_to Club.find(1).name, club_sales_page_path(1) %>" Club for free!
              </span>
            <%- end %>
          <%- else %>
            <%= link_to "#{@user.clubs.first.name} #{@user.clubs.first.sub_heading}", @user.clubs.first %>
          <%- end %>
        </div>
      </div>
    </div>

    <div class="subscribed-clubs row-fluid">
      <div class="blank-spacer span3"></div>

      <div class="clubs-listing span9">
        <div class="user-subscriptions-label">
          <%- if user_signed_in? and @user == current_user %>
            My Memberships
          <%- else %>
            User's Memberships
          <%- end %>
        </div>

        <%- if @user.subscriptions.blank? %>
          <div class="subscription-name">
            <div class="subscription-club-name">
              None
            </div>
          </div>
        <%- else %>
          <%- @user.subscriptions.each_with_index do |subscription, i| %>
            <%- unless subscription.level == 'pro' and subscription.pro_status == 'INACTIVE' %>
              <div class="subscription-name <%= "first" if i == 0 %>">
                <%- if user_signed_in? and @user == current_user %>
                  <div class="resolve-form hide-preview">
                    <%- if subscription.level == 'pro' and subscription.pro_status != 'ACTIVE' %>
                      <%= form_tag add_member_to_club_path(subscription.club) do %>
                        <%= hidden_field_tag :level, 'pro' %>
                        <%= submit_tag "RESOLVE", :class => 'resolve-subscription-submit' %>
                      <%- end %>
                    <%- end %>
                  </div>

                  <%= link_to raw("<i class='icon icon-remove hide-preview'></i>"),
                              clubs_user_path(subscription),
                              :confirm => "Are you sure you wish to unsubscribe from: '#{subscription.club.name} #{subscription.club.sub_heading}'?",
                              :method => :delete %>

                  <div class="change-form hide-preview">
                    <%= form_tag club_upsell_page_path(subscription.club), :method => :get do %>
                      <%= hidden_field_tag :level, 'pro' %>
                      <%= submit_tag "CHANGE LEVEL", :class => 'change-subscription-submit' %>
                    <%- end %>
                  </div>

                  <div class="subscription-level hide-preview">
                    (<%= subscription.level.titleize %>)
                  </div>
                <%- end %>

                <div class="subscription-club-name">
                  <%= link_to "#{subscription.club.name} #{subscription.club.sub_heading}", subscription.club %>
                </div>
              </div>
            <%- end %>
          <%- end %>
        <%- end %>
      </div>
    </div>
  </div>
</div>
