<div class="footer-container">
  <div class="footer-top">
    <div class="footer-left">
      <div class="footer-left-logo">
        <span class="footer-logo"></span>
      </div>

      <div class="footer-left-links">
        <ul class="left-links">
          <li><%= link_to "Terms and Conditions", terms_and_conditions_path %></li>
          <li><%= link_to "Privacy Policy",       privacy_policy_path %></li>
          <li><%= link_to "DMCA Policy",          dmca_policy_path %></li>
          <li>
            <a href="mailto:legal@simplemediatech.com?subject=Policy Violation&body=I am reporting a violation of the Terms and Conditions of IfSimply. The following information identifies the violation: %0D%0A%0D%0AClub Name: %0D%0AClub Owner: %0D%0APost/Article/Etc: %0D%0A%0D%0AI verify that this is a violation of the IfSimply Terms and Conditions.%0D%0A%0D%0ASigned: " target="_top">Report Abuse</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-right">
      <ul class="social-share-links">
        <li>
          <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%= Settings.social_media[:facebook_share_link] %>&p[title]=<%= Settings.social_media[:facebook_share_title] %>&p[summary]=<%= Settings.social_media[:facebook_share_content] %>" target="_blank">
            <%= image_tag "facebook.png", :alt => "Share on Facebook" %>
          </a>
        </li>

        <li>
          <a href="http://twitter.com/home?status=<%= Settings.social_media[:twitter_share_text] %>" target="_blank">
            <%= image_tag "twitter.png", :alt => "Share on Twitter" %>
          </a>
        </li>

        <li>
          <a href="https://plus.google.com/share?url=<%= Settings.social_media[:google_plus_share_link] %>" target="_blank">
            <%= image_tag "google-plus.png", :alt => "Share on Google+" %>
          </a>
        </li>

        <li>
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= Settings.social_media[:linkedin_share_url] %>&title=<%= Settings.social_media[:linkedin_share_title] %>&summary=<%= Settings.social_media[:linkedin_share_summary] %>&source=<%= Settings.social_media[:linkedin_share_source] %>" target="_blank">
            <%= image_tag "linkedin.png", :alt => "Share on LinkedIn" %>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="copyright">
      Copyright &copy; 2012-2015 Simple Media Technology, LLC. All Rights Reserved.
    </div>
  </div>
</div>
