<div class="welcome-navigation row-fluid">
  <div class="welcome-container span5">
    <span class="welcome-text">Hi, <%= user_signed_in? ? current_user.name.split(' ').first : "Guest" %>!</span>
  </div>

  <div class="user-navigation-container span7">
    <%- unless !user_signed_in? or (controller_name == 'sales_pages' and !can?(:update, club) or (controller_name == 'clubs_users' and action_name == 'new')) %>
      <div class="non-admin-links">
        <a href="<%= can?(:update, club) ? club_editor_path(club) : club_path(club) %>"
           class="club-link <%= 'selected' if controller_name == 'clubs' %>">Club Home</a>

        <a href="<%= show_all_club_courses_path(club) %>"
           class="courses-link <%= 'selected' if controller_name == 'courses' %>">Courses</a>

        <a href="<%= show_all_club_articles_path(club) %>"
           class="article-posts-link <%= 'selected' if controller_name == 'articles'%>">Articles</a>

        <a href="<%= can?(:update, club) ? discussion_board_editor_path(club.discussion_board) : discussion_board_path(club.discussion_board) %>"
           class="discussions-link <%= 'selected' if controller_name == 'discussion_boards' or
                                                     controller_name == 'topics' %>">Discussions</a>
      </div>

      <%- if user_signed_in? and can?(:update, club) %>
        <div class="admin-links">
          <div class="admin-heading">(Admin View Only)</div>
          <div class="admin-links-container">
            <a href="<%= sales_page_editor_path(club) %>"
               class="sales-page-link <%= 'selected' if controller_name == 'sales_pages' %>">Sales Page</a>
            <a href="<%= upsell_page_editor_path(club) %>"
               class="upsell-page-link
                     <%= 'selected'      if     controller_name == 'upsell_pages' %>
                     <%= 'non-free-hide' unless club.free_content %>"
               >
               Upsell Page
             </a>
            <a href="<%= admin_page_for_club_path(club) %>"
               class="admin-page-link <%= 'selected' if controller_name == 'admin' %>">Admin</a>
           </div>
         </div>
      <%- end %>
    <%- end %>
  </div>
</div>
