<%= content_for :home_container do %>
  <div class="learn-more-container">
    <div class="logo-sign-up-container">
      <div class="logo logo-inverse">
        <span></span>
      </div>

      <div class="sign-up-club">
        <%- if user_signed_in? %>
          <a type="button" class="btn btn-primary myclub-button" href="<%= club_editor_path(current_user.clubs.first) %>">
            <span class="btn-text">My Club</span>
          </a>
        <%- else %>
          <span>Not yet a member?</span> <%= link_to "Sign Up Now!", new_user_registration_path,
                                                                     :remote => true,
                                                                     :class => "btn btn-primary learn-more-button" %>
        <%- end %>
      </div>
    </div>

    <div class="capture-graphics-container">
      <div class="capture-container">
        <div class="capture-super">
          <div class="capture-left">
            CREATE
          </div>

          <div class="capture-right">
            (It's free)
          </div>
        </div>

        <div class="capture-sub">
          SIMPLE MEMBERSHIP CLUBS
        </div>
      </div>

      <div class="graphics-container">
        <div class="clouds-top">
          <span></span>
        </div>

        <div class="clouds-internal">
          <div class="easy-heading">
            It's as easy as...
          </div>

          <div class="easy-steps-container">
            <div class="easy-step">
              <div class="step-heading">1. Create a Club</div>

              <%= image_tag "step_create_chalkboard.png", :alt => "chalkboard-create" %>
            </div>

            <div class="easy-step">
              <div class="step-heading">2. Add Content</div>

              <%= image_tag "step_add_multimedia.png", :alt => "multimedia-add" %>
            </div>

            <div class="easy-step">
              <div class="step-heading">3. Promote It!</div>

              <%= image_tag "step_promote_horn.png", :alt => "promote-horn" %>
            </div>
          </div>
        </div>

        <div class="clouds-bottom">
          <span></span>
        </div>
      </div>
    </div>

    <div class="sign-up-how-it-works">
      <div class="sign-up">
        <a type="button" class="btn btn-large btn-warning submit-sign-up" href="<%= user_signed_in? ? club_editor_path(current_user.clubs.first) : new_user_registration_path %>">
          <span class="btn-text"><%= user_signed_in? ? "My Club" : "Start A Club Now" %></span>
        </a>
      </div>

      <div class="how-it-works">
        <div class="how-video">
          <%= render :partial => 'shared/video_iframe', :locals => { :video_url => "http://www.youtube.com/embed/OfrJ9UwdEl4" } %>
        </div>

        <div class="how-learn">
        </div>
      </div>
    </div>
  </div>
<%- end %>
