<%= content_for :outside_container do %>
  <div class="learn-more-container inner-container">
    <div class="logo-sign-up-container">
      <div class="logo logo-inverse">
        <span></span>
      </div>

      <div class="sign-up-club">
        <%= render :partial => "home/club_button" %>
      </div>
    </div>

    <% cache do %>
      <div class="capture-graphics-container">
        <div class="capture-container">
          <div class="capture-super">
            Create a Membership Club
          </div>

          <div class="capture-sub">
            In 5 minutes or less!
          </div>
        </div>

        <div class="graphics-container">
          <div class="clouds-top">
            <span></span>
          </div>

          <div class="clouds-internal">
            <div class="easy-heading">
              It's as simple as...
            </div>

            <div class="easy-steps-container">
              <div class="easy-step">
                <div class="step-heading">1. Create a Club</div>

                <%= image_tag "step_create_chalkboard.png", :alt => "chalkboard-create" %>
              </div>

              <div class="easy-step">
                <div class="step-heading">2. Add Content</div>

                <%= image_tag "step_add_multimedia.png", :alt => "multimedia-add" %>
              </div>

              <div class="easy-step">
                <div class="step-heading">3. Promote It!</div>

                <%= image_tag "step_promote_horn.png", :alt => "promote-horn" %>
              </div>
            </div>
          </div>

          <div class="clouds-bottom">
            <span></span>
          </div>
        </div>
      </div>

      <div class="download-guide">
        <%= render :partial => "home/download_guide" %>
      </div>

      <div class="people-saying">
        <div class="people-heading">
          What people are saying:
        </div>

        <div class="media people-refs left-ref">
          <a class="pull-left" href="#">
            <img class="media-object face-image" src="<%= image_path('JeffGoins.jpg') %>" class="face-image" />
          </a>

          <div class="media-body">
            <div class="media-content">
              This makes it easy to turn<br/>
              your passion into a product.<br/>
              - Jeff Goins, Author, <a href="www.GoinsWriter.com">GoinsWriter.com</a>
            </div>
          </div>
        </div>

        <div class="media people-refs right-ref">
          <a class="pull-left" href="#">
            <img class="media-object face-image" src="<%= image_path('JaredEasley.jpg') %>" class="face-image" />
          </a>

          <div class="media-body">
            <div class="media-content">
              IfSimply.com is a Game Changer.<br/>
              It makes it so easy to get started!<br/>
              - Jared Easley, Acclaimed Podcast Host<br/>
              &amp; Co-Founder of <a href="www.PodcastMovement.com">PodcastMovement.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="info-signup-container">
        <div class="sign-up-button top">
          <img src="<%= image_path('arrow_left.png') %>" class="arrow-left" />

          <a type="button" class="btn btn-large btn-warning submit-sign-up" data-remote="true" href="<%= user_signed_in? ? club_editor_path(current_user.clubs.first) : new_user_registration_path %>">
            <span class="btn-text"><%= user_signed_in? ? "My Club" : "Start a Club Now" %></span>
          </a>

          <img src="<%= image_path('arrow_right.png') %>" class="arrow-right" />
        </div>

        <div class="how-it-works">
          <div class="how-video">
            <%= render :partial => 'shared/video_iframe', :locals => { :id => "1", :video_url => 'LearnMore' } %>
          </div>

          <div class="how-learn">
          </div>
        </div>

        <div class="sign-up-button bottom">
          <img src="<%= image_path('arrow_left.png') %>" class="arrow-left" />

          <a type="button" class="btn btn-large btn-warning submit-sign-up" data-remote="true" href="<%= user_signed_in? ? club_editor_path(current_user.clubs.first) : new_user_registration_path %>">
            <span class="btn-text"><%= user_signed_in? ? "My Club" : "Start a Club Now" %></span>
          </a>

          <img src="<%= image_path('arrow_right.png') %>" class="arrow-right" />
        </div>

        <div class="learn-about">
          <div class="learn-about-heading">
            Why do people choose IfSimply.com?
          </div>

          <div class="learn-topic-row row row-fluid">
            <div class="learn-topic first span4">
              <div class="learn-icon">
                <img src="<%= image_path('no_code.png') %>" class="no-code-logo" />
              </div>

              <div class="learn-heading">
                No Code Guarantee
              </div>

              <div class="learn-details">
                No editors or html, just edit text in place.
              </div>
            </div>

            <div class="learn-topic span4">
              <div class="learn-icon">
                <img src="<%= image_path('free_basic.png') %>" class="free-basic-logo" />
              </div>

              <div class="learn-heading">
                Free Basic Memberships
              </div>

              <div class="learn-details">
                Unlimited Basic members for free & keep <%= "%i" % (Settings.paypal[:club_owner_share] * 100) %>% of all Pro membership fees.
              </div>
            </div>

            <div class="learn-topic span4">
              <div class="learn-icon">
                <img src="<%= image_path('paypal_billing.png') %>" class="paypal-billing-logo" />
              </div>

              <div class="learn-heading">
                Automatic Monthly Billing
              </div>

              <div class="learn-details">
                Easy recurring billing deposited directly into your PayPal account each month.
              </div>
            </div>
          </div>

          <div class="learn-topic-row row row-fluid">
            <div class="learn-topic first span4">
              <div class="learn-icon">
                <img src="<%= image_path('easy_video.png') %>" class="easy-video-logo" />
              </div>

              <div class="learn-heading">
                Easy Video Courses
              </div>

              <div class="learn-details">
                Design unlimited free or paid video courses with cut and paste course creator.
              </div>
            </div>

            <div class="learn-topic span4">
              <div class="learn-icon">
                <img src="<%= image_path('private_discussion.png') %>" class="private-discussion-logo" />
              </div>

              <div class="learn-heading">
                Private Discussions
              </div>

              <div class="learn-details">
                Engage members in community building discussion in your private discussion area you control.
              </div>
            </div>

            <div class="learn-topic span4">
              <div class="learn-icon">
                <img src="<%= image_path('exclusive_articles.png') %>" class="exclusive-articles-logo" />
              </div>

              <div class="learn-heading">
                Exclusive Articles
              </div>

              <div class="learn-details">
                Easily create free or paid articles in seconds with our easy to use drag and drop editor.
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%- end %>
