<%= content_for :outside_container do %>
  <div class="learn-logo-container">
    <span class="how-it-works-logo"></span>
    <span class="how-it-works-header">How it Works</span>
  </div>
  <div class="info-video-container">
    <div class="info-video-buffer">
      <div class="info-video">
        <%= render :partial => 'shared/video_iframe', :locals => { :id => "1", :video_url => 'LearnMore' } %>
      </div>
    </div>
  </div>
  <div class="info-signup-container">
    <div class="sign-up-button">
      <img src="<%= image_path('arrow_left.png') %>" class="arrow-left" />

      <a type="button" class="btn btn-large btn-warning submit-sign-up" data-remote="true" href="<%= user_signed_in? ? club_editor_path(current_user.clubs.first) : new_user_registration_path %>">
        <span class="btn-text"><%= user_signed_in? ? "My Club" : "Start a Club Now" %></span>
      </a>

      <img src="<%= image_path('arrow_right.png') %>" class="arrow-right" />
    </div>

    <div class="learn-about">
      <div class="learn-topic-row row row-fluid">
        <div class="learn-topic first span4">
          <div class="learn-icon">
            <img src="<%= image_path('no_code.png') %>" class="no-code-logo" />
          </div>

          <div class="learn-heading">
            No Code Guarantee
          </div>

          <div class="learn-details">
            No editors or html, just edit text in place.
          </div>
        </div>

        <div class="learn-topic span4">
          <div class="learn-icon">
            <img src="<%= image_path('free_basic.png') %>" class="free-basic-logo" />
          </div>

          <div class="learn-heading">
            Free Basic Memberships
          </div>

          <div class="learn-details">
            Unlimited Basic members for free & keep <%= "%i" % (Settings.paypal[:club_owner_share] * 100) %>% of all Pro membership fees.
          </div>
        </div>

        <div class="learn-topic span4">
          <div class="learn-icon">
            <img src="<%= image_path('paypal_billing.png') %>" class="paypal-billing-logo" />
          </div>

          <div class="learn-heading">
            Automatic Monthly Billing
          </div>

          <div class="learn-details">
            Easy recurring billing deposited directly into your PayPal account each month.
          </div>
        </div>
      </div>

      <div class="learn-topic-row row row-fluid">
        <div class="learn-topic first span4">
          <div class="learn-icon">
            <img src="<%= image_path('easy_video.png') %>" class="easy-video-logo" />
          </div>

          <div class="learn-heading">
            Easy Video Courses
          </div>

          <div class="learn-details">
            Design unlimited free or paid video courses with cut and paste course creator.
          </div>
        </div>

        <div class="learn-topic span4">
          <div class="learn-icon">
            <img src="<%= image_path('private_discussion.png') %>" class="private-discussion-logo" />
          </div>

          <div class="learn-heading">
            Private Discussions
          </div>

          <div class="learn-details">
            Engage members in community building discussion in your private discussion area you control.
          </div>
        </div>

        <div class="learn-topic span4">
          <div class="learn-icon">
            <img src="<%= image_path('exclusive_articles.png') %>" class="exclusive-articles-logo" />
          </div>

          <div class="learn-heading">
            Exclusive Articles
          </div>

          <div class="learn-details">
            Easily create free or paid articles in seconds with our easy to use drag and drop editor.
          </div>
        </div>
      </div>
    </div>
  </div>
<%- end %>
