<div class="privacy-policy">
  <div class="privacy-heading">
    SIMPLE MEDIA TECHNOLOGY, LLC<br/>
    DATA SECURITY & PRIVACY POLICY<br/>
    <div class="effective-date">Last Updated: November 18, 2013</div>
  </div>

  <br/>

  <div class="privacy-summary">
    Your right to privacy and security is very important to us. Simple Media Technology, LLC ("SMT", "we", "us",
    "our") treats personal information shared through our website, services and/or mobile application as private and
    confidential. We are committed to giving you secure access to our content hosting services and to conducting our
    work in as open and transparent a process as possible.
  </div>

  <br/>

  <div class="privacy-details">
    <span class="hl">Information shared through our website:</span>
    <br/>
    Some of the information you may submit is personally identifiable information, but much of it is not. Personally
    identifiable information is information that identifies a particular person. Examples include but are not limited
    to your name, phone number, address, and social security number, or e-mail address. It is possible to browse our
    website without actively submitting any personally identifiable information.
    <br/><br/>
    SMT's Website (sometimes, "Site") allow you to manage and access content provided by Club Owners and SMT,
    communicate with other Users, and maintain contacts on your account in accordance with SMT's Terms and Conditions.
    This notice applies to any personally identifiable information or other information that we may collect through our
    Website or other software.
    <br/><br/>

    <span class="hl">Automatically collected information:</span>
    <br/>
    Every time you visit our website, some information is automatically collected from you. This information may include,
    but is not limited to, some or all of the following items: your Internet Protocol (IP) address and/or domain; type
    and version of Internet browser software and operating system you use; date, time, and duration of your site access;
    specific pages, buttons, images, videos, links, or forms that you access while visiting the site; type of device
    (e.g. iPad, BlackBerry, iPhone, Android); mobile carrier and/or Internet Service Provider; and demographic
    information concerning the country of origin of your Computer and the language(s) used by it.
    <br/><br/>

    <span class="hl">Information collected via cookies:</span>
    <br/>
    Cookies are small text files that are placed on your Computer to distinguish you from other visitors to our Site.
    The use of cookies is a standard practice among websites to collect or track information about your activities while
    using the website. We and/or our third party advertising service providers may place cookies or similar files on
    your hard drive for many of the reasons listed in this Privacy Policy while visiting our Site. Most people do not
    know that cookies are being placed on their Computers when they visit websites because browsers are typically set to
    accept cookies. You can choose to have your browser warn you every time a cookie is being sent to you or you can
    choose not to accept cookies. You can also delete cookies from your Computer at any time. If you refuse cookies,
    the functionality of our Site may be impacted or become non-functional. Since every browser and Computer is
    different, you will need to follow your browser’s instructions for disabling or deleting cookies.
    <br/><br/>

    <span class="hl">Information collected via Flash objects and other similar technology:</span>
    <br/>
    In addition to using cookies, we and/or our third party advertising service providers may also use similar
    technologies to track users' interactions with our Site. Some of these technologies include web beacons (transparent
    graphical images placed on a website), pixels, tags, and Flash objects (also referred to as "Local Shared Objects").
    Please refer to your browser's instructions to remove cached Sites, history, and images from your Computer. Deleting
    or disabling cookies will not remove Flash objects or Local Shared Objects. Instead refer to Adobe’s website for
    more information on how to control or disable these items.
    <br/><br/>

    <span class="hl">Additional information on online behavioral advertising:</span>
    <br/>
    Some of the advertisements that click-through to our Site and/or may be on our Site contain cookies that allow for
    the monitoring of your response to these advertisements (sometimes referred to as interest-based advertisements).
    Our advertisements may also appear on other websites that use the same advertising service providers as us. These
    advertising service providers may use your browsing history across websites to choose which advertisements to display
    to you.
    <br/><br/>
    If you do not wish to have us and/or our third party advertising service providers know which advertisements and
    subsequent websites you have viewed, you may opt-out at <%= link_to "AboutAds", "http://www.aboutads.info/choices/" %>
    (established by the <%= link_to "Digital Advertising Alliance", "http://www.aboutads.info/" %>). The Digital
    Advertising Alliance website contains important information on cookies, behavioral advertising, and what opting out
    will and will not do and choices you can make regarding interest-based advertisements.
    <br/><br/>
    Please note: opting out of behavioral advertising will not stop you from receiving advertisements. You will still
    see the same number of advertisements as before, but they may not be as relevant to you. If you use other Computers
    or browsers and want to opt out of interest based advertisements, you will need to repeat this process for each
    Computer or browser. If you delete your Cookies and want to continue to be opted out of interest-based advertisements
    you will have to repeat this opt-out process.
    <br/><br/>

    <span class="hl">How we use the personal information shared through our website:</span>
    <br/>
    We may use these technologies on our site to verify your identity, remember personal settings including your
    preferences, to offer you additional options or enhance your online experience, and to improve our products and
    services. We may also use them for marketing site personalization, and tracking of online applications and programs
    and/or track the effectiveness of advertisements for our products and services that we may place on our Site or
    other linked and/or partner websites. Cookies used for tracking advertising effectiveness do not collect personally
    identifiable information. In order to better serve you, some of these technologies allow us the ability to view your
    past interactions with our sites for customer service, troubleshooting, risk analysis and fraud detection, as well
    as other related purposes.
    <br/><br/>

    <span class="hl">Our primary goals when collecting information about you are to:</span>
    <br/>
    <ul>
      <li>meet our responsibilities to you;</li>
      <li>follow your instructions;</li>
      <li>inform you of new services or products; and</li>
      <li>make sure our business suits your needs.</li>
    </ul>

    <span class="hl">Communication & marketing by post, email or text messages:</span>
    <br/>
    By using our services and/or software, you consent to our use of your personally identifiable or other information
    to tell you about products, services and special offers from us or other companies that may interest you. We will do
    this by post, email or text message (SMS). If you later decide that you do not want us to do this, please contact us
    to opt-out and we will stop doing so.
    <br/><br/>
    When you send an e-mail or other electronic communication to us, you are communicating with us electronically and
    consent to receive reply communications from us or our providers electronically. We may retain the content of the
    e-mail, electronic communication, your e-mail address, unique identifier (such as Facebook or Twitter user name),
    and our response in order to better service your needs or for audit, legal, regulatory or other business-related
    reasons.
    <br/><br/>

    <span class="hl">Third parties:</span>
    <br/>
    We may ask other organizations to provide support services to us. If such a circumstance arises, the third party
    would have to agree to our privacy policies if they need access to any personal information to carry out their services.
    <br/><br/>
    Our Site may contain links to third party websites or applications. These links and pointers to third party websites
    or applications are not part of our Site. Neither SMT nor its affiliates, divisions, or subsidiaries make any
    representations or warranties regarding these third party websites. We are not responsible for any losses or damages
    in connection with the information, security, privacy practices, availability, content or accuracy of materials of
    such third party websites or applications. These third party websites or applications might have Terms of Use or
    Privacy Policies different from us and third party websites may provide less privacy and/or security than our Site.
    We encourage you to review the Terms of Use and Privacy Policy of all third party websites before you share any
    personally identifiable information with them.
    <br/><br/>

    <span class="hl">Your data may be transferred upon change of control but only in accordance with this Policy:</span>
    <br/>
    Personal information may be transferred to a third party as a result of a sale, acquisition, merger, reorganization
    or other change of control. If we sell, merge or transfer any part of our business, or substantially all of its
    assets are acquired, customer information will of course be one of the transferred assets.
    <br/><br/>

    <span class="hl">When we may reveal personal information without consent:</span>
    <br/>
    We will not reveal personal information to anyone outside our company or certain of our service providers without
    your permission, unless:
    <ul>
      <li>we must do so by law or in terms of a court order;</li>
      <li>it is in the public interest; or</li>
      <li>we need to do so to protect our rights.</li>
    </ul>

    <span class="hl">Storing personal information:</span>
    <br/>
    The majority of personal information shared through our Website is not stored on SMT servers. Most personal data
    processed through our Site is stored via the HostMonster.com data storage and processing services, and as such is
    also protected by and subject to the
    <%= link_to "HostMonster Privacy Notice", "http://www.hostmonster.com/privacy_policy" %>.
    If any personal information about consumers or our clients is stored on an SMT server it will be secured in a
    safe place and no person outside SMT or certain of our service providers can get access to it. Furthermore, all
    direct SMT employees will be subject to a confidentiality agreement with us, to protect your privacy.
    <br/><br/>
    SMT abides by the U.S.-EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework as set forth by the U.S.
    Department of Commerce regarding the collection, use, and retention of data from the European Economic Area, and
    Switzerland. To learn more about the Safe Harbor program, please visit
    <%= link_to "http://www.export.gov/safeharbor/", "http://www.export.gov/safeharbor/" %>.
    <br/><br/>

    <span class="hl">Our security practices:</span>
    <br/>
    We are committed to providing safe content hosting services. All monetary transactions through our site are
    protected by Secure Socket Layer (SSL) encryption technology through PayPal. Encryption protects personal
    information you send when you transmit information or fill in forms through our Site. SSL is the leading security
    protocol for data transfer on the Internet and helps to protect the safety and confidentiality of your payment
    information. You play a critical role in protecting your information by maintaining up to date Computer security
    protections and by reviewing your statements promptly. For more information on protecting your electronic
    information, please visit <%= link_to "www.staysafeonline.org", "http://www.staysafeonline.org/" %>. Furthermore, our
    computers are protected by systems that guard against intruders. Only authorized SMT employees or agents can gain
    access to information on these computers.
    <br/><br/>

    <span class="hl">You are responsible for maintaining the confidentiality of your Login ID and Password:</span>
    <br/>
    We maintain strict rules to help prevent others from guessing your password. We also recommend that you change
    your password periodically. Your password must be between 8-128 characters in length. You are responsible for
    maintaining the security of your Login ID and Password. You may not provide these credentials to any third party.
    If you believe that they have been stolen or been made known to others, you must contact us immediately, but in any
    event you should change your password immediately via the Service. We are not responsible if someone else accesses
    your account through information they have obtained from you or through a violation by you of this Privacy Policy
    or the SMT Terms and Conditions Agreement.
    <br/><br/>

    <span class="hl">Right to change this privacy and security statement:</span>
    <br/>
    We may always change this privacy and security statement. We will put all changes on our website. The date last
    revised appears at the top of the Policy. Changes take effect immediately upon posting. The latest version of our
    privacy and security statement will replace all earlier versions of it, unless it states otherwise.
    <br/><br/>
    Email us at <a href="mailto:legal@simplemediatech.com">legal@SimpleMediaTech.com</a> if you have any questions or
    concerns about this privacy and security statement.
  </div>
</div>
