<%- lessons.each_with_index do |lesson, i| %>
  <%- if i > 0 %>
    <hr />
  <%- end %>

  <div class="lesson">
    <div class="lesson-title">
      <div class="lesson-title-text">
        <%= best_in_place_if can?(:update, lesson), lesson, :title, :type       => :input,
                                                                    :path       => course_lesson_path(lesson.course, lesson),
                                                                    :html_attrs => { :rows => '1' } %>
      </div>

      <%- if can? :update, lesson %>
        <div class="free-select">
          (Free?
          <%= best_in_place lesson, :free, :type       => :checkbox,
                                           :path       => course_lesson_path(lesson.course, lesson),
                                           :html_attrs => { :rows => '1' } %>
          )
        </div>
      <%- end %>
    </div>


    <div class="lesson-video video-container">
      <div class="video-iframe">
        <%- if can?(:read, lesson) %>
          <%= render :partial => 'shared/video_iframe', :locals => { :video_url => lesson.video } %>
        <%- else %>
          <a href="<%= subscribe_to_club_path(lesson.club) %>" class="click-for-pro-link">
            <%= image_tag "click_for_pro.png", :alt => "click-for-pro" %>
          </a>
        <%- end %>
      </div>

      <%- if can? :update, lesson %>
        <div class="video-embed-source">
          <span class="video-embed-label"><i class="icon-question-sign"> Video Embed URL:</i></span>

          <%= best_in_place lesson, :video, :type       => :input,
                                            :path       => course_lesson_path(lesson.course, lesson),
                                            :classes    => 'video-related',
                                            :html_attrs => { :rows => '1' } %>
        </div>
      <%- end %>
    </div>

    <div class="lesson-background">
      <%= best_in_place_if can?(:update, lesson), lesson, :background, :type       => :textarea,
                                                                       :path       => course_lesson_path(lesson.course, lesson),
                                                                       :html_attrs => { :rows => '10' } %>
    </div>
  </div>
<%- end %>
