<%- lessons.each_with_index do |lesson, i| %>
  <%- if i > 0 %>
    <hr />
  <%- end %>

  <div class="lesson">
    <div class="lesson-title">
      <div id="lesson_<%= lesson.id %>_title" class="lesson-title-text" data-mercury="simple"><%= lesson.title %></div>

      <%- if can? :update, lesson %>
        <div class="free-select hide-preview">
          (Free?
          <%= best_in_place lesson, :free, :type       => :checkbox,
                                           :path       => course_lesson_path(lesson.course, lesson),
                                           :html_attrs => { :rows => '1' } %>
          )
        </div>
      <%- end %>
    </div>


    <div class="lesson-video video-container">
      <div class="video-iframe">
        <%- if can?(:read, lesson) %>
          <%= render :partial => 'shared/video_iframe', :locals => { :video_url => lesson.video } %>
        <%- else %>
          <a href="<%= subscribe_to_club_path(lesson.club) %>" data-remote="true" class="click-for-pro-link">
            <%= image_tag "click_for_pro.png", :alt => "click-for-pro" %>
          </a>
        <%- end %>
      </div>

      <%- if is_editing? %>
        <div class="update-embed-url hide-preview">
          <%- if can? :update, lesson %>
            <div class="video-embed-source">
              <span class="video-embed-label"><i class="icon-question-sign"> Video Embed URL:</i></span>

              <div id="lesson_<%= lesson.id %>_video" class="video-related" data-mercury="simple"><%= lesson.video %></div>
            </div>
          <%- end %>
        </div>
      <%- end %>
    </div>

    <div id="lesson_<%= lesson.id %>_background" class="lesson-background" data-mercury="full"><%= raw lesson.background %></div>
  </div>
<%- end %>
