<div class="devise-information">
  <div class="devise-heading">Welcome Back!</div>
  <div class="devise-sub-heading">You look great and we are so happy to see you again</div>

  <%= form_for(resource, :as     => resource_name,
                         :class  => "sign-in-form",
                         :url    => session_path(resource_name),
                         :remote => true) do |f| %>
    <div class="devise-errors">
      <%= flash[:alert] unless flash[:alert].blank? %>
    </div>

    <div class="login-elements">
      <div class="email-fields">
        <%= f.label :email, "Login (email)" %>
        <%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>
      </div>

      <div class="password-fields">
        <%= f.label :password %>
        <%= f.password_field :password, :placeholder => "Password" %>
      </div>

      <div class="remember-me-signin">
        <div class="remember-me">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>

        <div class="signin"><%= f.submit "Sign in", :class => "btn btn-warning sign-in-submit-button",
                                                    :data  => { :disable_with => "Processing..." } %></div>
      </div>
    </div>
  <% end %>

  <div class="sign-up-link">
    <span class="sign-up-label">Not a member yet?</span> <%= link_to "Sign up Here", new_registration_path(resource_name), :remote => true %>
  </div>

  <div class="other-links">
    <%= link_to "Forgot your password?", new_password_path(resource_name), :remote => true %><br />
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
  </div>

  <%= render :partial => "shared/powered_by" %>
</div>
