<div class="course-information">
  <%= render :partial => 'shared/welcome_navigation', :locals => { :club => course.club } %>

  <div class="course-logo-title-description row-fluid">
    <div class="course-logo span4">
      <%= image_tag "#{course.logo}" %>

      <%- if can? :update, course %>
        <a href="#" data-remote="true" class="btn btn-primary upload-logo-button">Change Logo</a>
      <%- end %>
    </div>

    <div class="course-title-description span8">
      <div class="course-title">
        <%= best_in_place_if can?(:update, course), course, :title, :type => :input, :html_attrs => { :rows => '1' } %>
      </div>

      <div class="course-description">
        <%= best_in_place_if can?(:update, course), course, :description, :type => :textarea, :html_attrs => { :rows => '10' } %>
      </div>
    </div>
  </div>

  <div class="course-lessons row-fluid">
    <div class="lesson-listing-heading">
      <h2>Lessons</h2>

      <%- if can? :update, course %>
        <div class="add-course-lesson">
          <a href="<%= course_lessons_path(course) %>" data-method="post" class="add-course-lesson-link">Add Lesson</a>
        </div>
      <%- end %>
    </div>

    <div class="course-lesson-listing span12">
      <%- if course.lessons.blank? %>
        <h2>No Lessons Yet
          <%- if can? :update, course %>
            - Go Ahead and <a href="<%= course_lessons_path(course) %>" data-method="post" class="create-first-lesson-link">Create your First!</a>
          <%- end %>
        </h2>
      <%- else %>
        <div class="lessons-listing">
          <%= render :partial => 'lessons/list', :locals => { :lessons => course.lessons } %>
        </div>
      <%- end %>
    </div>
  </div>
</div>
