<div class="course-list-information">
  <%= render :partial => 'shared/welcome_navigation', :locals => { :club => @club } %>

  <div class="course-controls">
    <%- if can? :update, @club %>
      <div class="add-course">
        <a href="<%= club_courses_path(@club) %>" data-method="post" class="add-course-link">Add Course</a>
      </div>
    <%- end %>
  </div>

  <div class="club-courses-list row-fluid">
    <%- if @courses.blank? %>
      <h2 class="no-courses-text">No Courses Yet
        <%- if can? :update, @club %>
          - <a href="<%= club_courses_path(@club) %>" data-method="post" class="create-first-course-link">Create your First!</a>
        <%- end %>
      </h2>
    <%- else %>
      <div id="courses-list" data-club="<%= @club.id %>">
        <%- if can? :update, @club %>
          <div class="spacer">
            <div class="top-three-label"><i class="icon-question-sign"></i> Featured Courses</div>
          </div>
          <div class="top-three-capture" style="height: <%= case @courses.count; when 1; '190px;'; when 2; '360px;'; else '520px;'; end %>"></div>
        <%- end %>
        <%- @courses.each do |course| %>
          <div id="course_<%= course.id %>" class="club-course">
            <%- if can? :update, @club %>
              <div class="course-handle"><i class="icon-resize-vertical"></i></div>
            <%- end %>

            <div class="course-logo">
              <%= image_tag "#{course.logo}" %>
            </div>

            <div class="course-title-description">
              <div class="course-title">
                <%= link_to trim_length(course.title, 65), (can?(:update, course) ? course_editor_path(course) : course_path(course)) %>
              </div>

              <div class="course-description">
                <%= trim_length course.description, 400 %>
              </div>
            </div>
          </div>
        <%- end %>
      </div>
    <%- end %>
  </div>

  <%- unless @courses.blank? %>
    <div class="course-controls">
      <%- if can? :update, @club %>
        <div class="add-course">
          <a href="<%= club_courses_path(@club) %>" data-method="post" class="add-course-link">Add Course</a>
        </div>
      <%- end %>
    </div>
  <%- end %>
</div>
