<div class="post">
  <div class="post-heading">
    <%= I18n.l post.created_at %>
  </div>

  <div class="post-information-content">
    <div class="post-information">
      <div class="poster-icon-name">
        <div class="poster-icon">
          <%= image_tag "#{post.poster.icon}" %>
        </div>

        <div class="poster-name">
          <%- if post.poster == post.club.user %>
            <span class="icon-star"> <%= post.poster.name.split(' ').first %></i>
          <%- else %>
            <%= post.poster.name.split(' ').first %>
          <%- end %>
        </div>
      </div>

      <hr/>

      <div class="number-posts">
        <span class="post-info-label">Posts:</span>
        <span class="post-info-value"><%= post.poster.posts.count %></span>
      </div>

      <div class="member-since">
        <%- if post.poster == post.club.user %>
          <span class="post-info-label">Club Owner</span>
          <span class="post-info-value"></span>
        <%- else %>
          <span class="post-info-label">Member Since:</span>
          <span class="post-info-value"><%= I18n.l post.poster.subscriptions.find_by_club_id(post.club.id).try(:created_at), :format => :date_only %></span>
        <%- end %>
      </div>

      <div class="ifsimply-since">
        <span class="post-info-label">ifSimply Since:</span>
        <span class="post-info-value"><%= I18n.l post.poster.created_at, :format => :date_only %></span>
      </div>
    </div>

    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
</div>
