<div class="discussion-board-information">
  <%= render :partial => 'shared/welcome_navigation', :locals => { :club => @discussion_board.club } %>

  <h1 id="discussion_board_name"        class="discussion-board-name"        data-mercury="simple"><%= @discussion_board.name %></h1>
  <p  id="discussion_board_description" class="discussion-board-description" data-mercury="simple"><%= @discussion_board.description %></p>

  <div class="discussion-board-topics row-fluid">
    <div class="discussion-board-topic-listing span12">
      <%- if @discussion_board.topics.blank? %>
        <h2>No Content Yet
          - Go Ahead and
          <%- if can? :create, @discussion_board.topics.build %>
            <a href="<%= new_discussion_board_topic_path(@discussion_board) %>" class="create-first-topic-link">Create the First!</a>
          <%- else %>
            <a href="<%= subscribe_to_club_path(@discussion_board.club) %>" class="create-first-topic-link">Create the First!</a>
          <%- end %>
        </h2>
      <%- else %>
        <div class="topics-listing">
          <%= render :partial => 'topics/list', :locals => { :discussion_board => @discussion_board } %>
        </div>
      <%- end %>
    </div>
  </div>
</div>
