<%= content_for :outside_container do %>
  <div class="sales-page-information">
    <%= render :partial => 'shared/welcome_navigation', :locals => { :club => @sales_page.club } %>

    <h1 id="sales_page_heading" class="sales-page-heading" data-mercury="simple"><%= @sales_page.heading %></h1>

    <div class="color-band">
      <h3 id="sales_page_sub_heading" class="sales-page-sub-heading" data-mercury="simple"><%= @sales_page.sub_heading %></h3>

      <div class="capture-content video-container">
        <div class="capture-resource">
          <div class="video-iframe">
            <%= render :partial => 'shared/video_iframe', :locals => { :id        => "1",
                                                                       :video_url => @sales_page.video } %>
          </div>
        </div>

        <div class="capture-block">
          <div id="sales_page_call_to_action" class="sales-page-call-to-action" data-mercury="simple"><%= @sales_page.call_to_action %></div>

          <div id="sales_page_call_details" class="sales-page-call-details" data-mercury="full"><%= raw @sales_page.call_details %></div>

          <div class="club-buy">
            <%- if user_signed_in? and current_user.clubs.first == @club %>
              <div class="btn btn-warning subscribe-button-edit">Join Now. For Free</div>
            <%- else %>
              <%= button_to "Join Now. For Free", subscribe_to_club_path(@club), :method => 'get',
                                                                                 :remote => (user_signed_in? ? "true" : "false"),
                                                                                 :class  => 'btn btn-warning subscribe-button' -%>
            <%- end %>
          </div>
        </div>

        <%- if is_editing? %>
          <div class="update-embed-url hide-preview">
            <%- if can? :update, @sales_page %>
              <div class="video-embed-source">
                <div class="video-embed-label"><i class="icon-question-sign"> Video Embed URL:</i></div>

                <div id="sales_page_video_url" class="video-related" data-mercury="simple"><%= @sales_page.video %></div>
              </div>
            <%- end %>
          </div>
        <%- end %>
      </div>
    </div>

    <div class="benefits-container">
      <h3 class="sales-page-learn">As an exclusive member you will get:</h3>

      <div class="benefits">
        <div class="benefit">
          <div class="benefit-bullet"><%= image_tag "checkmark.png", :alt => "checkmark" %></div>
          <div id="sales_page_benefit1" class="benefit-container" data-mercury="simple"><%= @sales_page.benefit1 %></div>
        </div>
        <div class="benefit">
          <div class="benefit-bullet"><%= image_tag "checkmark.png", :alt => "checkmark" %></div>
          <div id="sales_page_benefit2" class="benefit-container" data-mercury="simple"><%= @sales_page.benefit2 %></div>
        </div>
        <div class="benefit">
          <div class="benefit-bullet"><%= image_tag "checkmark.png", :alt => "checkmark" %></div>
          <div id="sales_page_benefit3" class="benefit-container" data-mercury="simple"><%= @sales_page.benefit3 %></div>
        </div>
      </div>
    </div>

    <div id="sales_page_details" class="sales-page-details" data-mercury="full"><%= raw @sales_page.details %></div>

    <div class="about-owner-container">
      <h3 class="sales-page-about-owner">About the owner:</h3>

      <div class="about-owner">
        <div id="sales_page_about_owner" class="sales-page-about-owner" data-mercury="full"><%= raw @sales_page.about_owner %></div>
      </div>
    </div>
  </div>
<% end %>
