<!DOCTYPE html>
<html>
  <head>
    <title>IfSimply</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= google_webfonts_link_tag "Patua One" %>
    <%= google_webfonts_link_tag "Londrina Solid" %>
    <%= google_webfonts_link_tag "Fredericka the Great" %>
  </head>
  <body>
    <header>
      <%= render 'shared/navigation' %>
      <%= render 'shared/flash_messages' %>
      <%= yield :header if content_for? :header %>
    </header>

    <div class="modal hide fade">
      <div class="modal-header"></div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>

    <%- if content_for? :home_container %>
      <%= yield :home_container %>
    <%- else %>
      <div class="container">
        <div class="inner-container">
          <%= yield %>
        </div>
      </div>
    <%- end %>

    <footer>
      <%= render :partial => "shared/footer" %>
    </footer>
  </body>
</html>
